<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_epifania"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_epifania"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Ventiun21Dias"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name=".ui.foto.FotografiaActivity"
            android:exported="false"
            android:label="@string/fotografia_titulo"
            android:theme="@style/Base.Theme.Ventiun21Dias" />
        <activity
            android:name=".ui.volumen.VolumenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.musica.MusicaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.subcategorias.SubcategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.grabacion.GrabacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.categorias.DetalleCategoriasActivity"
            android:exported="false"
            android:label="@string/title_activity_sanar1"
            android:theme="@style/Base.Theme.Ventiun21Dias" />
        <activity
            android:name=".ui.categorias.CategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.QueEstasBuscandoActivity"
            android:exported="false"
            android:label="@string/title_activity_que_estas_buscando"
            android:theme="@style/Theme.Ventiun21Dias" />
        <activity
            android:name=".ui.intro.AbrirPortalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroActivityDos"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroActivityUno"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>